:root{
	--minWidth: 1200px
	--spriteSize: 100% 100%;

	--Black: #000;
  --Gray-600: #757575;
  --Green-500: #00c400;
}

a{text-decoration: none;}
button{appearance:none;border:none}
.sprite {
	background-size: var(--spriteSize);
	margin: 0;
}

.for-a11y{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  text-indent: -5000em;
}

.box__best-top{
	min-width: var(--minWidth);
    padding-top: 40px;
    position: relative;
	.box__best-title{
		width: var(--minWidth);
    text-align: center;
    margin: 0 auto;
    position: relative;
		.text__title{
			color: var(--Black);
			vertical-align: top;
			font-size: 28px;
			font-weight: 400;
			line-height: 32px;
			display: inline-block;
		}
	}
	.box__tooltip-info{
		vertical-align: top;
		padding: 7px 4px;
		display: inline-block;
		position: relative;
		.button__tooltip{
			background-image: url(//script.gmarket.co.kr/starro/desktop/images/sprite/best/sprite.svg#gds-info-fill);
			width: 16px;
			height: 16px;
			display: block;
		}
	}
}

.box__filter-wrap{
  margin-bottom: 40px;
  .box__category-filter{
    position: relative;
    width: var(--minWidth);
    margin: 0 auto;
    padding: 20px 0 30px;
  }
  .swiper{
    max-width: 1136px;
    margin: 0 auto;
    overflow: hidden;
    .swiper-slide{
      width: auto;
      margin-right: 21px;
    }
  }
  .link__category{
    display: block;
    width: 68px;
    text-align: center;
    &.link__category--active{
      .box__thumbnail{
        position: relative;
        &::after{
          content: "";
          border: 2px solid var(--Green-500);
          box-sizing: border-box;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .text{
        color: var(--Green-500);
        font-weight: 700;
      }
    }
    .box__thumbnail{
      border-radius: 50%;
      width: 68px;
      height: 68px;
      display: block;
      overflow: hidden;
      .image{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .text{
        display: block;
        color: var(--Gray-600);
        white-space: nowrap;
        margin-top: 12px;
        font-size: 14px;
        line-height: 20px;
      }
  }
}